{% extends 'admin/components/base.html' %}
{% load static %}

{% block title %}Products Table{% endblock %}

{% block body %}

<div class="col-xl-12">
    <div class="card" id="accordion-three">
        <div class="card-header flex-wrap d-flex justify-content-between px-3">
            <div>
                <h4 class="card-title">Product Table</h4>
            </div>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/products/create/'">
                + Add New Product
            </button>
        </div>

        <!-- /tab-content -->
        <div class="tab-content" id="myTabContent-2">
            <div class="tab-pane fade show active" id="withoutSpace" role="tabpanel" aria-labelledby="home-tab-2">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table id="example3" class="display table" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Creating Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.created_at}}</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#editModal_{{product.id}}"
                                                class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                    class="fas fa-pencil-alt"></i></a>
                                            <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#deleteModel_{{product.id}}"
                                                class="btn btn-danger shadow btn-xs sharp"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /tab-content -->

    </div>
</div>

{% for product in products %}
<!-- Modal -->
<div class="modal fade" id="deleteModel_{{product.id}}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Your Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this product?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"
                    onclick="window.location.href='/products/delete/{{product.id}}/'">Confirm</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}