{% if messages %}
{% for message in messages %}

<div class="alert {{ message.tags }} alert-dismissible fade show message-box d-flex align-items-center" role="alert">
    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
        stroke-linecap="round" stroke-linejoin="round" class="me-2">
        <polyline points="9 11 12 14 22 4"></polyline>
        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
    </svg>
    {% if message.tags == 'alert-success' %}
    <strong>Success! </strong> {{ message }}
    {% elif message.tags == 'alert-danger' %}
    <strong>Error! </strong> {{ message }}
    {% elif message.tags == 'alert-warning' %}
    <strong>Warning! </strong> {{ message }}
    {% endif %}
    <button type="button" class="btn-close mb-2" data-bs-dismiss="alert" aria-label="btn-close"><span><i class="fa-solid fa-xmark"></i></span></button>
</div>

{% endfor %}
{% endif %}

<style>
    .message-box{
        position: fixed;
        top:100px;
        right: 20px;
        z-index: 1000;
        min-width: 400px;
    }

    .message-box .btn-close i{
        padding-bottom: 15px;
    }
</style>