{% load static %}
<!--=============== FLATICON ===============-->
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>

<!--=============== SWIPER CSS ===============-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<!--=============== CSS ===============-->
<link rel="stylesheet" href="{% static 'user/css/style.css' %}" />

<!--=============== LINEAR ICONS ===============-->
<link rel="stylesheet" href="{% static 'user/css/linearicons.min.css' %}">
