{% extends 'components/base.html' %}

{% block title %}Categories{% endblock %}

{% block body %}

{% load custom_permissions %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <!-- <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li> -->
        <li><span class="breadcrumb__link">Categories</span></li>
    </ul>
</section>

<!--=============== CATEGORY MANAGEMENT ===============-->
<section class="cart section--lg container">
    {% if request.user|has_role_permission:'add_categorymodel' %}
    <button onclick="window.location.href='/create-category/'" style="margin-bottom: 3rem;" class="btn btn--md">+ Create Product</button>
    {% endif %}
    <div class="table__container">
        <table class="table">
            <tr>
                <th style="width:150px;">Name</th>
                {% if request.user|has_role_permission:'change_categorymodel' and request.user|has_role_permission:'delete_categorymodel' %}
                <th style="width: 300px;">Actions</th>
                {% endif %}
            </tr>
            
            {% for category in categories %}
            <tr>

                <td style="width: 150px;">
                    <h3 style="white-space: nowrap;" class="table__title">{{category.name}}</h3>
                </td>

                {% if request.user|has_role_permission:'change_categorymodel' and request.user|has_role_permission:'delete_categorymodel' %}
                <td style="width: 300px;">
                    <a href="/update-category/{{category.id}}/" class="btn btn-es">Edit</a>
                    <a href="/update-category/{{category.id}}/" class="btn btn-es delete">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
    </div>

    <div class="divider">
        <i class="fi fi-rs-fingerprint"></i>
    </div>

</section>

{% endblock %}