{% extends 'components/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block body %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Contact Us</span></li>
    </ul>
</section>

<!--=============== CONTACT ===============-->
<section class="contact section--lg">
    <div class="contact__container container grid">

        <div class="card_group grid">

            <div class="card grid">
                <div class="card__icon">
                    <i class="lnr lnr-map-marker"></i>
                </div>
                <div class="card__content grid">
                    <h3 class="card__title">Our Location</h3>
                    <p class="card__text">(800) 123 456 789 / (800) 123 456 789</p>
                </div>
            </div>

            <div class="card grid">
                <div class="card__icon">
                    <i class="lnr lnr-smartphone"></i>
                </div>
                <div class="card__content grid">
                    <h3 class="card__title">Contact us Anytime</h3>
                    <p class="card__text">Mobile: 012 345 678<br>Fax: 123 456 789</p>
                </div>
            </div>

            <div class="card grid">
                <div class="card__icon">
                    <i class="lnr lnr-envelope"></i>
                </div>
                <div class="card__content grid">
                    <h3 class="card__title">Support Overall</h3>
                    <p class="card__text">Support24/7@example.com <br> info@example.com</p>
                </div>
            </div>

        </div>

        <h3 class="section__title">Get In Touch</h3>

        <form method="POST" action="/contact/" class="form grid">
            {% csrf_token %}
            <div class="form__group grid">
                <input type="text" name="name" required placeholder="Name" class="form__input">
                <input type="text" name="phone" required placeholder="phone" class="form__input">
            </div>
            <input type="text" placeholder="Subject" required name="subject" class="form__input">
            <textarea name="message" placeholder="Message" required cols="30" rows="10" id=""
                class="form__input textarea"></textarea>
            <button type="submit" class="btn btn--md">Send Message</button>
        </form>

    </div>
</section>


{% endblock %}