{% extends 'components/base.html' %}

{% block title %}Create Table {% endblock %}

{% block body %}
<style>
    /* Toggle switch style */
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked+.slider {
        background-color: var(--first-color);
    }

    input:checked+.slider:before {
        transform: translateX(20px);
    }
</style>
<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><a href="/tables/" class="breadcrumb__link">Tables</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Create</span></li>
    </ul>
</section>

<section class="create section--lg">
    <div class="create__container container grid">
        <div class="create__form">
            <h3 class="section__title text__center">Create Table</h3>

            <form action="/create-table/" method="POST" class="form grid">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Enter table name" required class="form__input">
                <div class="form__btn">
                    <button class="btn" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}