{% extends 'components/base.html' %}

{% block title %}My Account{% endblock %}
{% load static %}
{% block body %}
<script>
  const staticUrl = "{% static 'img/no-img-avatar.png' %}";
</script>
<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
  <ul class="breadcrumb__list flex container">
    <li><a href="/" class="breadcrumb__link">Home</a></li>
    <li><span class="breadcrumb__link">></span></li>
    <li><span class="breadcrumb__link">Account</span></li>
  </ul>
</section>

<!--=============== ACCOUNTS ===============-->
<section class="accounts section--lg">
  <div class="accounts__container container grid">
    <div class="account__tabs">
      <p class="account__tab active-tab" data-target="#dashboard">
        <i class="fi fi-rs-settings-sliders"></i> Dashboard
      </p>

      <p class="account__tab" data-target="#orders">
        <i class="fi fi-rs-shopping-bag"></i> Orders
      </p>

      <p class="account__tab" data-target="#update-profile">
        <i class="fi fi-rs-user"></i> Update Profile
      </p>

      <p class="account__tab" data-target="#address">
        <i class="fi fi-rs-marker"></i> My Address
      </p>

      <p class="account__tab" data-target="#change-password">
        <i class="fi fi-rs-user"></i> Change Password
      </p>

      <p class="account__tab" data-target="#logout">
        <i class="fi fi-rs-exit"></i> Logout
      </p>

    </div>

    <div class="tabs__content">
      <div class="tab__content active-tab" content id="dashboard">
        <h3 class="tab__header">Hello {{user.username}}!</h3>

        <div class="tab__body">
          <p class="tab__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt quisquam qui
            nemo dolores ipsam nobis autem quas, iusto accusantium possimus neque fugiat commodi! Enim, perspiciatis
            aperiam facere quam eum veritatis ab tenetur, obcaecati fuga esse veniam nostrum sit magnam nisi non
            voluptatibus iste sequi, inventore quisquam nulla voluptatum eos corrupti.</p>
        </div>
      </div>

      <div class="tab__content" content id="orders">
        <h3 class="tab__header">Your Orders</h3>

        <div class="tab__body">
          <table class="placed__order-table">
            <tr>
              <th>Orders</th>
              <th>Date</th>
              <th>Status</th>
              <th>Total</th>
              <th>Actions</th>
            </tr>

            <tr>
              <td>#1357</td>
              <td>March 45,2020</td>
              <td>Processing</td>
              <td>$125.00</td>
              <td><a href="#" class="view__order">View</a></td>
            </tr>

            <tr>
              <td>#2468</td>
              <td>June 29,2020</td>
              <td>Completed</td>
              <td>$364.00</td>
              <td><a href="#" class="view__order">View</a></td>
            </tr>

            <tr>
              <td>#2366</td>
              <td>August 02,2020</td>
              <td>Completed</td>
              <td>$364.00</td>
              <td><a href="#" class="view__order">View</a></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="tab__content" content id="update-profile">
        <h3 class="tab__header">Update Profile</h3>

        <div class="tab__body">
          <form id="update-profile-form" class="form grid" data-original-username="{{ user.username }}"
            data-original-email="{{ user.email }}" data-original-phone="{{ user.phone }}"
            data-original-address="{{ user.address }}"
            data-original-profile="{% if user.profile %}{{user.profile.url}}{% else %}''{% endif %}">
            {% csrf_token %}

            <div class="profile-picture">
              <!-- Preview Image -->
              <img id="profile-preview"
                src="{% if user.profile %}{{user.profile.url}}{% else %}{% static 'img/no-img-avatar.png' %}{% endif %}"
                alt="Profile Picture" class="profile__preview">

              <!-- File Input and Buttons -->
              <div class="profile-buttons">
                <input type="file" name="profile" id="profile" class="form__input"
                  onchange="previewProfilePicture(event)">
                <label for="profile" class="btn btn-sm">Choose File</label>
                <button type="button" class="btn btn-sm remove" onclick="removeProfilePicture()">Remove</button>
              </div>
            </div>
            <div class="form__group grid">
              <input type="text" name="username" placeholder="Username" class="form__input" value="{{ user.username }}">
              <input type="email" name="email" placeholder="Email" class="form__input" value="{{ user.email }}">
            </div>
            <input type="tel" id="phone" name="phone" placeholder="Phone Number" class="form__input" value="{{ user.phone }}">
            <textarea name="address" cols="30" rows="10" class="form__input textarea"
              placeholder="Address">{{ user.address }}</textarea>
            <div class="form__btn">
              <button type="button" onclick="updateProfile()" class="btn btn--md">Save</button>
            </div>
          </form>
        </div>
      </div>

      <div class="tab__content" content id="address">
        <h3 class="tab__header">Shipping Address</h3>

        <div class="tab__body">
          <address class="address">
            3522 Interstate <br> 75 Business Spur, <br> Sault Ste. Marie, <br> MI 49783 New York
          </address>
          <p class="city">New York</p>
          <a href="#" class="edit">Edit</a>
        </div>
      </div>

      <div class="tab__content" content id="change-password">
        <h3 class="tab__header">Change Password</h3>

        <div class="tab__body">
          <form id="change-password-form" class="form grid">
            {% csrf_token %}
            <!-- Current Password -->
            <div class="password__form">
              <input type="password" name="current_password" id="current-password" placeholder="Current Password"
                class="form__input" required>
              <span class="toggle-password" onclick="togglePasswordVisibility('current-password', this)">👁️</span>
            </div>
            <!-- New Password -->
            <div class="password__form">
              <input type="password" name="new_password" id="new-password" placeholder="New Password"
                class="form__input" required>
              <span class="toggle-password" onclick="togglePasswordVisibility('new-password', this)">👁️</span>
            </div>
            <!-- Confirm Password -->
            <div class="password__form">
              <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm Password"
                class="form__input" required>
              <span class="toggle-password" onclick="togglePasswordVisibility('confirm-password', this)">👁️</span>
            </div>
            <div class="form__btn">
              <button type="button" class="btn btn--md" onclick="changePassword()">Save</button>
            </div>
          </form>
        </div>


      </div>

      <div class="tab__content" content id="logout">
        <h3 class="tab__header">Logout</h3>

        <div class="tab__body">
          <p class="tab__description">Are you sure you want to log out?</p>
          <a href="/logout/" class="edit">Yes</a>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}