{% extends 'components/base.html' %}

{% block title %}Payments{% endblock %}

{% block body %}


<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">payments</span></li>
    </ul>
</section>

<!--=============== CART ===============-->
<section class="table__cards section--lg container">
    <button class="btn btn-md" style="margin-bottom: 3rem;" onclick="window.location.href='/create-payment/'">+ Create payment</button>
    <div class="table__card--group grid">
        {% for payment in payments %}
        <div class="table__card">
            <div class="payment__card--banner">
                <h4 class="payment__card--title">{{payment.name}}</h4>
                <p class="payment__card--number">{{payment.number}}</p>
            </div>
            <div class="payment__btn flex">
                <button class="btn btn-md" onclick="window.location.href='/update-payment/{{payment.id}}/'">Update</button>
                <button class="btn btn-md delete" onclick="window.location.href='/delete-payment/{{payment.id}}/'">Delete</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="divider">
        <i class="fi fi-rs-fingerprint"></i>
    </div>

</section>

{% endblock %}