{% extends 'components/base.html' %}

{% block title %}Product Detail{% endblock %}

{% block body %}
{% load static %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
  <ul class="breadcrumb__list flex container">
    <li><a href="/" class="breadcrumb__link">Home</a></li>
    <li><span class="breadcrumb__link">></span></li>
    <li><span class="breadcrumb__link">Fashion</span></li>
    <li><span class="breadcrumb__link">></span></li>
    <li><span class="breadcrumb__link">Henley Shirt</span></li>
  </ul>
</section>

<!--=============== DETAILS ===============-->
<section class="details section--lg">
  <div class="details__container container grid">
    <div class="details__group">
      <img src="{{product.featured_image.url}}" alt="{{product.name}}" class="details__img">
      <div class="details__small-images grid">
        <img src="{{product.featured_image.url}}" alt="{{product.name}}" class="details__small-img">
        {% for gallery in galleries %}
        <img src="{{gallery.image.url}}" alt="{{gallery.product.name}}" class="details__small-img">
        {% endfor %}
      </div>
    </div>

    <div class="details__group">
      <h3 class="details__title">{{product.name}}</h3>
      <p class="details__brand">Brands: <span>{{product.brand}}</span></p>

      <div class="details__price flex">
        {% if product.sale_price %}
        <span class="new__price">{{product.sale_price}} MMK</span>
        <span class="old__price">{{product.regular_price}} MMK</span>
        {% else %}
        <span class="new__price">{{product.regular_price}} MMK</span>
        {% endif %}
        <span class="save__price">{{ discount }}% Off</span>
      </div>

      <p class="short__description">
        {{product.description}}
      </p>

      <ul class="product__list">
        <li class="list__item flex">
          <i class="fi-rs-crown"></i> 1 Year AL Jazeera Brand Warranty
        </li>
        <li class="list__item flex">
          <i class="fi-rs-refresh"></i> 30 Day Return Policy
        </li>
        <li class="list__item flex">
          <i class="fi-rs-credit-card"></i> Cash on Delivery available
        </li>
      </ul>

      <div class="details__color flex">
        <span class="details__color-title">Color</span>

        <ul class="color__list">
          {% for color in product.color.all %}
          <li>
            <span class="color__link" style="background:{{color.name}};"></span>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="details__size flex">
        <span class="details__size-title">Size</span>

        <ul class="size__list">
          {% for size in product.size.all %}
          <li>
            <!-- <span class="size__link size-active">M</span> -->
            <span class="size__link">{{size.name}}</span>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="details__action">
        {% if product.stock > 0 %}
        <input type="number" name="quantity" class="quantity" value="1" min="1">

        <button type="button" class="btn btn--sm" onclick="addToCart(event, {{ product.id }})">Add to Cart</button>
        {% endif %}

        <button type="button" class="details__action-btn" onclick="addToWishlist(event, {{ product.id }})">
          <i class="fi fi-rs-heart"></i>
        </button>
      </div>

      <ul class="details__meta">
        <li class="meta__list flex"><span>SKU:</span> FWM15VKT</li>
        <li class="meta__list flex"><span>Tags</span> Cloth,Women,Dress</li>
        <li class="meta__list flex"><span>Avaliablity</span> <span class="stock">{{product.stock}} Items In Stock</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<!--=============== DETAILS TAB ===============-->
<section class="details__tab container">
  <div class="detail__tabs">
    <span class="detail__tab active-tab" data-target="#info">
      Additional Info
    </span>
    <span class="detail__tab" data-target="#reviews">
      Reviews({{reviews.count}})
    </span>
  </div>

  <div class="details__tabs-content">
    <div class="details__tab-content active-tab" content id="info">
      <table class="info__table">

        <tr>
          <th>Stand Up</th>
          <td>32"L x 24"W x 37-45"H(front to back wheel)</td>
        </tr>

        <tr>
          <th>Folded(w/o wheels)</th>
          <td>32.5"L x 18.5"W x 16.5"H</td>
        </tr>

        <tr>
          <th>Folded(w/ wheels)</th>
          <td>32.5"L x 24"W x 18.5"H</td>
        </tr>

        <tr>
          <th>Door Pass Through</th>
          <td>24</td>
        </tr>

        <tr>
          <th>Frame</th>
          <td>Aluminium</td>
        </tr>

        <tr>
          <th>Weight(w/o wheels)</th>
          <td>20 LBS</td>
        </tr>

        <tr>
          <th>Weight Capacity</th>
          <td>60 LBS</td>
        </tr>

        <tr>
          <th>Width</th>
          <td>24"</td>
        </tr>

        <tr>
          <th>Handle height(ground to handle)</th>
          <td>37-45"</td>
        </tr>

        <tr>
          <th>Wheels</th>
          <td>12" air / wide track slick tread</td>
        </tr>

        <tr>
          <th>Seat back height</th>
          <td>21.5"</td>
        </tr>

        <tr>
          <th>Head room(inside canopy)</th>
          <td>25"</td>
        </tr>

        <tr>
          <th>Color</th>
          <td>Black,Blue,Red,White</td>
        </tr>

        <tr>
          <th>Size</th>
          <td>M,S</td>
        </tr>

      </table>
    </div>

    <div class="details__tab-content" content id="reviews">
      <div class="reviews__container grid">
        {% for review in reviews %}
        <div class="review__single">
          <div>
            {% if review.author.profile %}
            <img src="{{ review.author.profile.url }}" alt="{{review.author.username}}" class="review__img">
            {% else %}
            <img src="{% static 'img/avatar.jpg' %}" alt="{{review.author.username}}" class="review__img">
            {% endif %}
            <h4 class="review__title">{{ review.name }}</h4>
          </div>

          <div class="review__data">
            <div class="review__rating">
              {% for i in range %}
              <i class="fi fi-rs-star {% if review.rating and i <= review.rating %}selected{% endif %}"></i>
              {% endfor %}
            </div>
            <p class="review__description">{{ review.comment }}</p>
            <span class="review__date">{{ review.created_at|date:"F j, Y, g:i a" }}</span>
          </div>
        </div>
        {% endfor %}
      </div>


      <div class="review__form">
        <h4 class="review__form-title">Add a review</h4>

        <div class="rate__product" id="star-rating">
          <i class="fi fi-rs-star" data-rating="1"></i>
          <i class="fi fi-rs-star" data-rating="2"></i>
          <i class="fi fi-rs-star" data-rating="3"></i>
          <i class="fi fi-rs-star" data-rating="4"></i>
          <i class="fi fi-rs-star" data-rating="5"></i>
        </div>

        <form id="review-form" class="form grid">
          <input type="hidden" name="product_id" value="{{ product.id }}">
          <input type="hidden" name="rating" id="rating-value" value="">

          <textarea class="form__input textarea" name="comment" required placeholder="Write Comment"></textarea>

          <div class="form__group grid">
            <input type="text" name="name" {% if request.user.is_authenticated %} readonly {% endif %} value="{{user.username}}" placeholder="Name" class="form__input">
            <input type="email" name="email" {% if request.user.is_authenticated %} readonly {% endif %} value="{{user.email}}" placeholder="Email" class="form__input">
          </div>

          <div class="form__btn">
            <button type="button" onclick="submitReview()" class="btn">Submit Review</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  const imageUrl = "{% static 'img/no-img-avatar.png' %}";
</script>

<!--=============== PRODUCTS ===============-->
<section class="products container section--lg">
  <h3 class="section__title"><span>Related</span> Products</h3>

  <div class="products__container grid">

    {% for product in products %}
    <div class="product__item">
        <div class="product__banner">
            <a href="/products/details/{{product.id}}/" class="product__images">
                <img src="{{product.featured_image.url}}" alt="{{product.name}}" class="product__img default">
                <img src="{{product.hovered_image.url}}" alt="{{product.name}}" class="product__img hover">
            </a>

            <div class="product__actions">
                <button type="button" class="action__btn" aria-label="Quick View"
                    onclick="quickView(event, {{ product.id }})">
                    <i class="fi fi-rs-eye"></i>
                </button>
                <button type="button" class="action__btn" aria-label="Add to Wishlist"
                    onclick="addToWishlist(event, {{ product.id }})">
                    <i class="fi fi-rs-heart"></i>
                </button>
                <button type="button" class="action__btn" aria-label="Add to Compare"
                    onclick="addToCompare(event, {{ product.id }})">
                    <i class="fi fi-rs-shuffle"></i>
                </button>
            </div>
            {% if product.stock == 0 %}
            <div class="product__badge light-pink">Out of stock</div>
            {% else %}
            {% if product.discount >= 1 and product.discount <= 10 %} 
            <div class="product__badge light-green">{{product.discount}}% Off</div>
            {% elif product.discount >= 11 and product.discount <= 25 %} 
            <div class="product__badge green">{{product.discount}}% Off</div>
            {% elif product.discount >= 26 and product.discount <= 50 %} 
            <div class="product__badge light-orange">{{product.discount}}% Off</div>
            {% elif product.discount >= 51 and product.discount <= 75 %} 
            <div class="product__badge light-red">{{product.discount}}% Off</div>
            {% elif product.discount >= 76 and product.discount <= 100 %} 
            <div class="product__badge deep-red">{{product.discount}}% Off</div>
            {% endif %}
            {% endif %}
        </div>

        <div class="product__content">
            <span class="product__category">{{product.category.name}}</span>
            <a href="/products/details/{{product.id}}/">
                <h3 class="product__title">{{product.name}}</h3>
            </a>
            <div class="product__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
                {% if product.sale_price %}
                <span class="new__price">{{product.sale_price}} MMK</span>
                <span class="old__price">{{product.regular_price}} MMK</span>
                {% else %}
                <span class="new__price">{{product.regular_price}} MMK</span>
                {% endif %}
            </div>

            {% if product.stock != 0 %}
            <button type="button" class="action__btn cart__btn" aria-label="Add To Cart"
                onclick="addToCart(event, {{ product.id }})">
                <i class="fi fi-rs-shopping-bag-add"></i>
            </button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}