{% extends 'components/base.html' %}

{% block title %}Products{% endblock %}
{% load custom_permissions %}

{% block body %}
<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Products</span></li>
    </ul>
</section>

<section class="products__cards section--lg container">
    {% if request.user|has_role_permission:'add_productmodel' %}
    <button onclick="window.location.href='/create-product/'" style="margin-bottom: 3rem;" class="btn btn--md">+ Create Product</button>
    {% endif %}
    <div class="products__card--container grid">
        {% for product in products %}
        <div class="product__card--item" id="product__card--item-{{ product.id }}">
            <div class="product__card--banner">
                <div class="product__card--image">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product__card--img">
                </div>
                <div class="product__card--content">
                    <span class="product__card--category">{{product.category.name}}</span>
                    <h3 class="product__card--title">{{product.name}}</h3>
                    <span class="product__card--quantity">Stock : ({{product.quantity}})</span>
                    <span class="product__card--price new__price">Price : {{product.price}} MMK</span>
                </div>
                {% if request.user|has_role_permission:'change_productmodel' and request.user|has_role_permission:'delete_productmodel' %}
                <div class="product__card--actions flex">
                    <button onclick="window.location.href='/update-product/{{product.id}}/'" class="btn btn--sm">Edit</button>
                    <button onclick="window.location.href='/delete-product/{{product.id}}/'" class="btn btn--sm delete">Delete</button>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}