{% extends 'components/base.html' %}

{% block title %}Products{% endblock %}
{% load custom_permissions %}

{% block body %}
<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Products</span></li>
    </ul>
</section>

<section class="cart section--lg container">
    {% if request.user|has_role_permission:'add_productmodel' %}
    <div class="flex" style="margin-bottom: 3rem;">
        <button onclick="window.location.href='/create-product/'"class="btn btn--md">+ Create Product</button>
        <button onclick="window.location.href='/sizes/'" class="btn btn--md">Sizes</button>
        <button onclick="window.location.href='/meats/'" class="btn btn--md">Meats</button>
        <button onclick="window.location.href='/spicies/'" class="btn btn--md">Spicies</button>
    </div>
    {% endif %}
    <div class="table__container">
        <table class="table">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                {% if request.user|has_role_permission:'change_productmodel' and request.user|has_role_permission:'delete_productmodel' %}
                <th>Actions</th>
                {% endif %}
            </tr>
            
            {% for product in products %}
            <tr>
                <td>
                    <div class="table__image">
                        <img src="{{product.image.url}}" alt="{{product.name}}" class="table__img">
                    </div>
                </td>

                <td>
                    <h3 style="white-space: nowrap;" class="table__title">{{product.name}}</h3>
                    <p class="table__description">{{product.category.name}}</p>
                </td>

                <td>
                    <span class="table__price">{{product.price}} MMK</span>
                </td>

                <td>
                    <span class="table__subtotal">{% if product.quantity == 0 %}Out of Stock{% else %}{{product.quantity}}{% endif %}</span>
                </td>

                {% if request.user|has_role_permission:'change_productmodel' and request.user|has_role_permission:'delete_productmodel' %}
                <td>
                    <a href="/update-product/{{product.id}}/" class="btn btn-es">Edit</a>
                    <a href="/delete-product/{{product.id}}/" class="btn btn-es delete">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
    </div>

    <div class="divider">
        <i class="fi fi-rs-fingerprint"></i>
    </div>

</section>

{% endblock %}