{% extends 'components/base.html' %}

{% block title %}Roles{% endblock %}

{% block body %}


<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Roles</span></li>
    </ul>
</section>

<!--=============== CART ===============-->
<section class="table__cards section--lg container">
    <button class="btn btn-md" style="margin-bottom: 3rem;" onclick="window.location.href='/create-role/'">+ Create Role</button>
    <div class="table__card--group grid">
        {% for role in roles %}
        <div class="table__card">
            <div class="payment__card--banner">
                <h4 class="payment__card--title">{{role.name}}</h4>
            </div>
            <div class="payment__btn flex">
                <button class="btn btn-md" onclick="window.location.href='/update-role/{{role.id}}/'">Update</button>
                <button class="btn btn-md delete" onclick="window.location.href='/delete-role/{{role.id}}/'">Delete</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="divider">
        <i class="fi fi-rs-fingerprint"></i>
    </div>

</section>

{% endblock %}