{% extends 'components/base.html' %}

{% block title %}Roles{% endblock %}

{% block body %}

{% load custom_permissions %}


<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><span class="breadcrumb__link">Roles</span></li>
    </ul>
</section>

<!--=============== CART ===============-->
<section class="cart section--lg container">
    {% if request.user|has_role_permission:'add_rolemodel' %}
    <button onclick="window.location.href='/create-role/'" style="margin-bottom: 3rem;" class="btn btn--md">+ Create
        Role</button>
    {% endif %}
    <div class="table__container">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Permissions</th>
                {% if request.user|has_role_permission:'change_rolemodel' and request.user|has_role_permission:'delete_rolemodel' %}
                <th style="width: 300px;">Actions</th>
                {% endif %}
            </tr>

            {% for role in roles %}
            <tr>

                <td>
                    <h3 style="white-space: nowrap;" class="table__title">{{role.name}}</h3>
                </td>

                <td>
                    {% for permission in role.permissions.all %}
                    <span class="role__badge">{{permission.name}}</span>
                    {% endfor %}
                </td>

                {% if request.user|has_role_permission:'change_rolemodel' and request.user|has_role_permission:'delete_rolemodel' %}
                <td style="width: 300px;">
                    <a href="/update-role/{{role.id}}/" class="btn btn-es">Edit</a>
                    <a href="/update-role/{{role.id}}/" class="btn btn-es delete">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
    </div>

    <div class="divider">
        <i class="fi fi-rs-fingerprint"></i>
    </div>

</section>

{% endblock %}