{% extends 'components/base.html' %}

{% block title %}Spicies{% endblock %}

{% block body %}

{% load custom_permissions %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><span class="breadcrumb__link">Spicies</span></li>
    </ul>
</section>

<!--=============== CART ===============-->
<section class="cart section--lg container">
    {% if request.user|has_role_permission:'add_spicymodel' %}
    <div class="flex" style="margin-bottom: 3rem;">
        <button onclick="window.location.href='/create-spicy/'" class="btn btn--md">+ Create Spicy</button>
        <button onclick="window.location.href='/products/'" class="btn btn--md">Products</button>
        <button onclick="window.location.href='/meats/'" class="btn btn--md">Meats</button>
        <button onclick="window.location.href='/sizes/'" class="btn btn--md">Sizes</button>
    </div>
    {% endif %}
    <div class="table__container">
        <table class="table">
            <tr>
                <th>Spicy</th>
                {% if request.user|has_role_permission:'change_spicymodel' and request.user|has_role_permission:'delete_spicymodel' %}
                <th style="width: 300px;">Actions</th>
                {% endif %}
            </tr>

            {% for spicy in spicies %}
            <tr>

                <td>
                    <h3 style="white-space: nowrap;" class="table__title">{{spicy.name}}</h3>
                </td>

                {% if request.user|has_role_permission:'change_spicymodel' and request.user|has_role_permission:'delete_spicymodel' %}
                <td style="width: 300px;">
                    <a href="/update-spicy/{{spicy.id}}/" class="btn btn-es">Edit</a>
                    <a href="/update-spicy/{{spicy.id}}/" class="btn btn-es delete">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
    </div>

    <div class="divider">
        <i class="fi fi-rs-fingerprint"></i>
    </div>

</section>

{% endblock %}