{% extends 'components/base.html' %}

{% block title %}Update Product {% endblock %}

{% block body %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><a href="/products/" class="breadcrumb__link">Products</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Update</span></li>
    </ul>
</section>

<section class="update section--lg">
    <div class="update__container role container grid">
        <div class="update__form">
            <h3 class="section__title text__center">Update Product</h3>

            <form action="/update-product/{{product.id}}/" enctype="multipart/form-data" method="POST"
                class="form grid">
                {% csrf_token %}
                <div class="form__group grid">
                    <input value="{{product.name}}" type="text" name="name" placeholder="Enter product name" required class="form__input">
                    <input value="{{product.price}}" type="number" name="price" placeholder="Enter product price" required class="form__input">
                </div>
                <div class="form__group grid">
                    <input type="number" name="quantity" value="{{product.quantity}}" placeholder="Enter product quantity" required
                        class="form__input">
                    <input type="file" name="image" class="form__input">
                </div>
                <select name="category" required class="form__input">
                    <option value="">Select Category</option>
                    {% for category in categories %}
                    <option value="{{category.id}}" {% if category.id == product.category.id %} selected {% endif%}>{{category.name}}</option>
                    {% endfor %}
                </select>
                <div class="label__group">
                    <label>Sizes</label>
                    <div style="display: flex;flex-wrap: wrap;gap:0.5rem">
                        {% for size in sizes %}
                        <div style="display: flex;align-items: center;gap: 0.4rem;">
                            <input type="checkbox" {% if size in product.size.all %} checked {% endif %} name="size" id="size_{{size.id}}" value="{{size.id}}">
                            <label for="size_{{size.id}}">{{size.name}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="label__group">
                    <label>Meats</label>
                    <div style="display: flex;flex-wrap: wrap;gap:0.5rem">
                        {% for meat in meats %}
                        <div style="display: flex;align-items: center;gap: 0.4rem;">
                            <input type="checkbox" {% if meat in product.meat.all %} checked {% endif %}  name="meat" id="meat_{{meat.id}}" value="{{meat.id}}">
                            <label for="meat_{{meat.id}}">{{meat.name}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="label__group">
                    <label>Spicies</label>
                    <div style="display: flex;flex-wrap: wrap;gap:0.5rem">
                        {% for spicy in spicies %}
                        <div style="display: flex;align-items: center;gap: 0.4rem;">
                            <input type="checkbox" {% if spicy in product.spicy.all %} checked {% endif %}  name="spicy" id="spicy_{{spicy.id}}" value="{{spicy.id}}">
                            <label for="spicy_{{spicy.id}}">{{spicy.name}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form__btn">
                    <button class="btn" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}