{% extends 'components/base.html' %}

{% block title %}Update Size {% endblock %}

{% block body %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/sizes/" class="breadcrumb__link">Sizes</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Update</span></li>
    </ul>
</section>

<section class="update section--lg">
    <div class="update__container container grid">
        <div class="update__form">
            <h3 class="section__title text__center">Update Size</h3>

            <form method="POST" action="/update-size/{{size.id}}/"class="form grid">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Enter size name" value="{{size.name}}" required class="form__input">
                <div class="form__btn">
                    <button class="btn" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}