{% extends 'components/base.html' %}

{% block title %}Update Categories {% endblock %}

{% block body %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><a href="/categories/" class="breadcrumb__link">Categories</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Update</span></li>
    </ul>
</section>

<section class="update section--lg">
    <div class="update__container container grid">
        <div class="update__form">
            <h3 class="section__title text__center">Update Category</h3>

            <form method="POST" enctype="multipart/form-data" action="/update-category/{{category.id}}/"class="form grid">
                {% csrf_token %}
                <input type="text" name="name" value="{{category.name}}" placeholder="Enter category name" required class="form__input">
                <input type="file" name="image" required class="form__input">
                <div class="form__btn">
                    <button class="btn" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}