{% extends 'components/base.html' %}

{% block title %}Update Table {% endblock %}

{% block body %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><a href="/tables/" class="breadcrumb__link">Tables</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Update</span></li>
    </ul>
</section>

<section class="update section--lg">
    <div class="update__container container grid">
        <div class="update__form">
            <h3 class="section__title text__center">Update Table</h3>

            <form action="/update-table/{{table.id}}/" method="POST" class="form grid">
                {% csrf_token %}
                <input type="text" name="name" value="{{table.name}}" placeholder="Enter table name" required class="form__input">
                <div class="form__btn">
                    <button class="btn" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}