{% extends 'components/base.html' %}

{% block title %}Update Product {% endblock %}

{% block body %}
<style>
    /* Toggle switch style */
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked+.slider {
        background-color: var(--first-color);
    }

    input:checked+.slider:before {
        transform: translateX(20px);
    }
</style>
<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><a href="/products/" class="breadcrumb__link">Products</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Update</span></li>
    </ul>
</section>

<section class="update section--lg">
    <div class="update__container role container grid">
        <div class="update__form">
            <h3 class="section__title text__center">Update Product</h3>

            <form action="/update-product/{{product.id}}/" enctype="multipart/form-data" method="POST"
                class="form grid">
                {% csrf_token %}
                <div class="form__group grid">
                    <input value="{{product.name}}" type="text" name="name" placeholder="Enter product name" required class="form__input">
                    <input value="{{product.price}}" type="number" name="price" placeholder="Enter product price" required class="form__input">
                </div>
                <div class="form__group grid">
                    <input type="file" name="image" class="form__input">
                    <select name="category" required class="form__input">
                        <option value="">Select Category</option>
                        {% for category in categories %}
                        <option value="{{category.id}}" {% if category.id == product.category.id %} selected {% endif%}>{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label class="switch">
                        <input type="checkbox" {% if product.stock %}checked{% endif %} name="stock"
                            id="stock">
                        <span class="slider"></span>
                    </label>
                    <label for="stock">Stock Status</label>
                </div>
                <div class="form__group grid">
                    <div class="label__group">
                        <label>Sizes</label>
                        <div style="display: flex;flex-wrap: wrap;gap:0.5rem">
                            {% for size in sizes %}
                            <div style="display: flex;align-items: center;gap: 0.4rem;">
                                <input type="checkbox" {% if size in product.size.all %} checked {% endif %} name="size" id="size_{{size.id}}" value="{{size.id}}">
                                <label for="size_{{size.id}}">{{size.name}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="label__group">
                        <label>Meats</label>
                        <div style="display: flex;flex-wrap: wrap;gap:0.5rem">
                            {% for meat in meats %}
                            <div style="display: flex;align-items: center;gap: 0.4rem;">
                                <input type="checkbox" {% if meat in product.meat.all %} checked {% endif %}  name="meat" id="meat_{{meat.id}}" value="{{meat.id}}">
                                <label for="meat_{{meat.id}}">{{meat.name}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="label__group">
                    <label>Spicies</label>
                    <div style="display: flex;flex-wrap: wrap;gap:0.5rem">
                        {% for spicy in spicies %}
                        <div style="display: flex;align-items: center;gap: 0.4rem;">
                            <input type="checkbox" {% if spicy in product.spicy.all %} checked {% endif %}  name="spicy" id="spicy_{{spicy.id}}" value="{{spicy.id}}">
                            <label for="spicy_{{spicy.id}}">{{spicy.name}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form__btn">
                    <button class="btn" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}