{% extends 'components/base.html' %}

{% block title %}Users{% endblock %}
{% load custom_permissions %}

{% block body %}
<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><span class="breadcrumb__link">Users</span></li>
    </ul>
</section>

<section class="cart section--lg container">
    {% if request.user|has_role_permission:'add_usermodel' %}
    <button onclick="window.location.href='/create-user/'" style="margin-bottom: 3rem;" class="btn btn--md">+ Create User</button>
    {% endif %}
    <div class="table__container">
        <table class="table">
            <tr>
                <th>Information</th>
                <th style="width: 100px;">Role</th>
                <th style="width: 100px;">Active</th>
                <th style="width: 100px;">Staff</th>
                <th style="width: 100px;">Superuser</th>
                {% if request.user|has_role_permission:'change_usermodel' and request.user|has_role_permission:'delete_usermodel' %}
                <th style="width: 300px;">Actions</th>
                {% endif %}
            </tr>
            
            {% for user in users %}
            <tr>

                <td>
                    <h3 style="white-space: nowrap;" class="table__title">{{user.username}}</h3>
                    <p class="table__description">{{user.email}}</p>
                </td>

                <td style="width: 100px;">
                    <span class="table__price">{{user.role}}</span>
                </td>

                <td style="width: 100px;">
                    <span class="table__price">{{user.is_active}}</span>
                </td>

                <td style="width: 100px;">
                    <span class="table__price">{{user.is_staff}}</span>
                </td>

                <td style="width: 100px;">
                    <span class="table__price">{{user.is_superuser}}</span>
                </td>

                {% if request.user|has_role_permission:'change_usermodel' and request.user|has_role_permission:'delete_usermodel' %}
                <td style="width: 300px;">
                    <a href="/update-user/{{user.id}}/" class="btn btn-es">Edit</a>
                    <a href="/delete-user/{{user.id}}/" class="btn btn-es delete">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
    </div>

    <div class="divider">
        <i class="fi fi-rs-fingerprint"></i>
    </div>

</section>

{% endblock %}