{% load static %}
{% load custom_permissions %}
<!--=============== HEADER ===============-->

<nav class="nav container">
    <a href="/" class="nav__logo">
        <img src="{% static 'img/logo.svg' %}" alt="" class="nav__logo-img">
    </a>

    <div class="nav__menu" id="nav-menu">
        <div class="nav__menu-top">
            <a href="/" class="nav__menu-logo">
                <img src="{% static 'img/logo.svg' %}" alt="">
            </a>

            <div class="nav__close" id="nav-close">
                <i class="fi fi-rs-cross-small"></i>
            </div>
        </div>

        <ul class="nav__list">
            {% if request.user.is_superuser %}
            <li class="nav__item">
                <a href="/" class="nav__link {% if request.path == '/'%} active-link {% endif %}">Dashboard</a>
            </li>
            {% endif %}

            {% if request.user|has_role_permission:'view_tablemodel' %}
            <li class="nav__item">
                <a href="/tables/"
                    class="nav__link {% if request.path == '/tables/'%} active-link {% endif %}">Tables</a>
            </li>
            {% endif %}

            {% if request.user|has_role_permission:'view_categorymodel' %}
            <li class="nav__item">
                <a href="/categories/"
                    class="nav__link {% if request.path == '/categories/'%} active-link {% endif %}">Categories</a>
            </li>
            {% endif %}
            
            {% if request.user|has_role_permission:'view_paymentmodel' %}
            <li class="nav__item">
                <a href="/payments/"
                    class="nav__link {% if request.path == '/payments/'%} active-link {% endif %}">Payments</a>
            </li>
            {% endif %}

            {% if request.user|has_role_permission:'view_productmodel' %}
            <li class="nav__item">
                <a href="/products/"
                    class="nav__link {% if request.path == '/products/'%} active-link {% endif %}">Products</a>
            </li>
            {% endif %}

            {% if request.user|has_role_permission:'view_invoicemodel' %}
            <li class="nav__item">
                <a href="/invoices/"
                    class="nav__link {% if request.path == '/invoices/'%} active-link {% endif %}">Invoices</a>
            </li>
            {% endif %}
            
            
            <li class="nav__item">
                <a href="/roles/" class="nav__link {% if request.path == '/roles/'%} active-link {% endif %}">Roles</a>
            </li>
          
            <li class="nav__item">
                <a href="/users/" class="nav__link {% if request.path == '/users/'%} active-link {% endif %}">Users</a>
            </li>

            <!-- <li class="nav__item">
                <a href="/contact/"
                    class="nav__link {% if request.path == '/contact/'%} active-link {% endif %}">Contact Us</a>
            </li> -->

            <!-- <li class="nav__item">
                {% if request.user.is_authenticated %}
                <a href="/my-account/"
                    class="nav__link {% if request.path == '/my-account/'%} active-link {% endif %}">My Account</a>
                {% else %}
                <a href="/login/" class="nav__link {% if request.path == '/login/'%} active-link {% endif %}">Login</a>
                {% endif %}
            </li> -->
            {% if request.user.is_authenticated %}
            <li class="nav__item">
                <a href="/logout/"
                    class="nav__link">Logout</a>
            </li>
            {% endif %}

        </ul>

        <div class="header__search">
            <input type="text" placeholder="Search for items..." class="form__input">
            <button class="search__btn">
                <img src="{% static 'img/search.png' %}" alt="">
            </button>
        </div>
    </div>

    <div class="header__user-actions">
        {% if cart_count > 0 %}
        <a href="/carts/{{ table_id }}/" class="header__action-btn">
            <img src="{% static 'img/icon-cart.svg' %}" alt="Cart">
            <span class="count cart-count">{{ cart_count }}</span>
        </a>
        {% endif %}

        <div class="header__action-btn nav__toggle" id="nav-toggle">
            <img src="{% static 'img/menu-burger.svg' %}" alt="">
        </div>
    </div>
</nav>