{% extends 'user/components/base.html' %}

{% block title %}Shop{% endblock %}

{% block body %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Shop</span></li>
    </ul>
</section>

<!--=============== PRODUCTS ===============-->
<section class="products section--lg container">
    <p class="total__products">We found <span>{{products.count}}</span> items for you!</p>

    <div class="products__container grid">

        {% for product in products %}
        <div class="product__item">
            <div class="product__banner">
                <a href="/products/details/{{product.id}}/" class="product__images">
                    <img src="{{product.featured_image.url}}" alt="{{product.name}}" class="product__img default">
                    <img src="{{product.hovered_image.url}}" alt="{{product.name}}" class="product__img hover">
                </a>

                <div class="product__actions">
                    <button type="button" class="action__btn" aria-label="Quick View"
                        onclick="quickView(event, {{ product.id }})">
                        <i class="fi fi-rs-eye"></i>
                    </button>
                    <button type="button" class="action__btn" aria-label="Add to Wishlist"
                        onclick="addToWishlist(event, {{ product.id }})">
                        <i class="fi fi-rs-heart"></i>
                    </button>
                    <button type="button" class="action__btn" aria-label="Add to Compare"
                        onclick="addToCompare(event, {{ product.id }})">
                        <i class="fi fi-rs-shuffle"></i>
                    </button>
                </div>
                {% if product.stock == 0 %}
                <div class="product__badge light-pink">Out of stock</div>
                {% else %}
                {% if product.discount >= 1 and product.discount <= 10 %} 
                <div class="product__badge light-green">{{product.discount}}% Off</div>
                {% elif product.discount >= 11 and product.discount <= 25 %} 
                <div class="product__badge green">{{product.discount}}% Off</div>
                {% elif product.discount >= 26 and product.discount <= 50 %} 
                <div class="product__badge light-orange">{{product.discount}}% Off</div>
                {% elif product.discount >= 51 and product.discount <= 75 %} 
                <div class="product__badge light-red">{{product.discount}}% Off</div>
                {% elif product.discount >= 76 and product.discount <= 100 %} 
                <div class="product__badge deep-red">{{product.discount}}% Off</div>
                {% endif %}
                {% endif %}
            </div>

            <div class="product__content">
                <span class="product__category">{{product.category.name}}</span>
                <a href="/products/details/{{product.id}}/">
                    <h3 class="product__title">{{product.name}}</h3>
                </a>
                <div class="product__rating">
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                </div>
                <div class="product__price flex">
                    {% if product.sale_price %}
                    <span class="new__price">{{product.sale_price}} MMK</span>
                    <span class="old__price">{{product.regular_price}} MMK</span>
                    {% else %}
                    <span class="new__price">{{product.regular_price}} MMK</span>
                    {% endif %}
                </div>

                {% if product.stock != 0 %}
                <button type="button" class="action__btn cart__btn" aria-label="Add To Cart"
                    onclick="addToCart(event, {{ product.id }})">
                    <i class="fi fi-rs-shopping-bag-add"></i>
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>

    <!-- <ul class="pagination">
    <li><a href="#" class="pagination__link active">01</a></li>
    <li><a href="#" class="pagination__link">02</a></li>
    <li><a href="#" class="pagination__link">03</a></li>
    <li><a href="#" class="pagination__link">...</a></li>
    <li><a href="#" class="pagination__link">16</a></li>
    <li>
      <a href="#" class="pagination__link icon">
        <i class="fi-rs-angle-double-small-right"></i>
      </a>
    </li>
  </ul> -->
</section>

{% endblock %}