{% extends 'user/components/base.html' %}

{% block title %}Shop{% endblock %}

{% block body %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Shop</span></li>
    </ul>
</section>

<!--=============== PRODUCTS ===============-->
<section class="products section--lg container">
    <p class="total__products">We found <span>{{products.count}}</span> items for you!</p>

    <div class="products__container grid">

        {% for product in products %}
        <div class="product__card--item">
            <div class="product__card--banner">
                <a href="/products/details/{{product.id}}/" class="product__card--image">
                    <img src="{{product.image.url}}" alt="{{product.name}}" class="product__card--img">
                </a>
                {% if product.quantity == 0 %}
                <div class="product__badge light-pink">Out of Stock</div>
                {% endif %}
            </div>

            <div class="product__card--content">
                <span class="product__card--category">{{product.category.name}}</span>
                <h3 class="product__card--title">{{product.name}}</h3>
                <span class="product__card--quantity">Stock : {{product.quantity}}</span>
                <span class="product__card--price new__price">{{product.price}} MMK</span>

                {% if product.quantity != 0 %}
                <button type="button" class="action__btn cart__btn" aria-label="Add To Cart"
                    onclick="addToCart(event, {{ product.id }})">
                    <i class="fi fi-rs-shopping-bag-add"></i>
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
</section>

{% endblock %}