{% extends 'user/components/base.html' %}

{% block title %}Update Product {% endblock %}

{% block body %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><a href="/products/" class="breadcrumb__link">Products</a></li>
        <li><span class="breadcrumb__link">></span></li>
        <li><span class="breadcrumb__link">Update</span></li>
    </ul>
</section>

<section class="update section--lg">
    <div class="update__container container grid">
        <div class="update__form">
            <h3 class="section__title text__center">Update Product</h3>

            <form action="/update-product/{{product.id}}/" enctype="multipart/form-data" method="POST" class="form grid">
                {% csrf_token %}
                <input value="{{product.name}}" type="text" name="name" placeholder="Enter product name" required class="form__input">
                <input value="{{product.price}}" type="number" name="price" placeholder="Enter product price" required class="form__input">
                <input value="{{product.quantity}}" type="number" name="quantity" placeholder="Enter product quantity" required class="form__input">
                <input type="file" name="image" required class="form__input">
                <select name="category" class="form__input">
                    {% for category in categories %}
                    <option value="{{category.id}}" {% if category.id == product.category.id %} selected {% endif %} >{{category.name}}</option>
                    {% endfor %}
                </select>
                <div class="form__btn">
                    <button class="btn" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}