{% extends 'user/components/base.html' %}

{% block title %} Wishlists {% endblock %}

{% block body %}

<!--=============== BREADCRUMB ===============-->
<section class="breadcrumb">
  <ul class="breadcrumb__list flex container">
    <li><a href="/" class="breadcrumb__link">Home</a></li>
    <li><span class="breadcrumb__link">></span></li>
    <li><span class="breadcrumb__link">Shop</span></li>
    <li><span class="breadcrumb__link">></span></li>
    <li><span class="breadcrumb__link">Wishlist</span></li>
  </ul>
</section>

<!--=============== WISHLIST ===============-->
<section class="wishlist section--lg container">
  <div class="table__container">
    <table class="table">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock Status</th>
        <th>Action</th>
        <th>Remove</th>
      </tr>

      {% for wishlist in wishlists %}
      <tr>
        <td>
          <img src="{{wishlist.product.featured_image.url}}" alt="{{wishlist.product.name}}" class="table__img">
        </td>

        <td>
          <h3 class="table__title">{{wishlist.product.brand.name}} - {{wishlist.product.name}}</h3>
          <p class="table__description">{{wishlist.product.description}}</p>
        </td>

        <td>
          <span class="table__price">
            {% if wishlist.product.sale_price %}
            {{ wishlist.product.sale_price }} MMK
            {% else %}
            {{ wishlist.product.regular_price }} MMK
            {% endif %}
          </span>
        </td>

        <td>
          <span class="table__stock">
            {% if wishlist.product.stock > 0 %}
            In Stock
            {% else %}
            Out of Stock
            {% endif %}
          </span>
        </td>

        <td>
          <button type="button" class="btn btn--sm" onclick="addToCart(event, {{ wishlist.product.id }})">Add to Cart</button>
        </td>

        <td>
          <button class="table__trash" onclick="removeFromWishlist(event, {{ wishlist.product.id }})">
            <i class="fi fi-rs-trash"></i>
          </button>
        </td>
      </tr>
      {% endfor %}

    </table>
  </div>
</section>

{% endblock %}